@import url('./Navbar-mobile-portrait.css') (max-width: 961px);

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  top:0;
  right:0;
  width: 100%;
  background-color: var(--secondary2-color);
  position: sticky;
  z-index: 1;
  overflow: hidden;
  height: 50px;
}

.nav-row{
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

a {
  margin-left: 15px;
  margin-right: 15px;
  color: var(--accent-color);
  text-decoration: none;
  font-size: 30px;
}
