
:root {
  --title : 24px !important;
}

section {
  margin-right: var(--text-mobile-margin) !important;
  margin-left: var(--text-mobile-margin) !important;
  text-justify: inter-word;
}

.parallax {
  display: none;
}

/* Greet section */

.glass h1 {
  font-size: larger;
  margin-bottom: 10px;
}

.glass h4 {
  font-size: medium;
}

.glass {
  border-radius: 0px !important;
  padding: 5% !important;
  border-radius: 30px !important;
}

/* About me section */
.about-me-section h1 {
  font-size: 35px;
}

.about-me-section p {
  /* margin-bottom: 10px; */
  font-size: small !important;
  margin-top: 10px;
  color: white;
}

/* Project section */
.grid{
  display: flex !important;
  width: 100% !important;
  flex-direction: column !important;
  align-items: center !important;
}